html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #eee;
  background-color: #77a9c6;
  font-size: 14pt;
  line-height: 1.15;
}
div {
  display: block;
}
a {
  text-decoration: underline;
  color: inherit;
}
.navbtn {
  display: inline-block;
  position: fixed;
  right: 1.2em;
  font-size: 1.4em;
  top: 1.6em;
  z-index: 1030;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #eee;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1060;
}
.sidebar a {
  margin-top: 1.15em;
  margin-bottom: 1.15em;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  background-color: transparent;
  display: block;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.sidebar a:hover {
  color: #eee;
}
.sidebar #pagelink {
  font-family: 'Jura', 'sans-serif';
  color: #000;
}
.sidebar #pagelink:hover {
  color: #a81818;
}
#currentpage {
  font-family: 'Jura', 'sans-serif';
  font-size: 25px;
  color: #a81818;
  background-color: #868686;
  margin-top: 0;
  margin-bottom: 0em;
  line-height: 1.5;
}
#curpagesec {
  font-family: 'Jura', 'sans-serif';
  font-size: 25px;
  color: #eee;
  background-color: #868686;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 5px;
  line-height: 1.5;
}
#curpagesec:hover,
#currentpage:hover {
  color: #000;
}
.sidebar .closebtn {
  display: inline-block;
  font-size: 1.5em;
  margin: -0.6em 0 0 3.1em;
  height: 1.6em;
}
.bi.bi-arrow-left-square {
  position: sticky;
  position: -webkit-sticky;
  width: 1.6em;
  height: 1.6em;
  fill: #eee;
  background-color: #77a9c6;
  opacity: 1;
  margin-bottom: -0.25em;
  padding: 0.16em;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  -webkit-transition: fill 0.5s, background-color 0.5;
  -webkit-transition-delay: 0, 0.5;
  transition: fill 0.5s, background-color 0.5s;
  transition-delay: 0, 0.5s;
}
.bi.bi-arrow-left-square:hover {
  opacity: 1;
  fill: #77a9c6;
  background-color: #eee;
}
.bi.bi-arrow-right-square {
  position: sticky;
  position: -webkit-sticky;
  width: 1.6em;
  height: 1.6em;
  fill: #eee;
  background-color: #77a9c6;
  opacity: 1;
  padding: 0.16em;
  border-radius: 10px;
  border-width: 0;
  border-style: solid;
  -webkit-transition: fill 0.5s, background-color 0.5;
  -webkit-transition-delay: 0, 0.5;
  transition: fill 0.5s, background-color 0.5s;
  transition-delay: 0, 0.5s;
}
.bi.bi-arrow-right-square:hover {
  opacity: 1;
  fill: #77a9c6;
  background-color: #eee;
}
.titleline {
  top: 2.2em;
}
.title {
  font-family: 'Major Mono Display', 'monospace';
  font-style: normal;
}
.paragraphs {
  text-align: center;
  font-family: 'Raleway', 'open-sans';
  font-style: normal;
  font-size: 16pt;
}
.project_placeholder {
  text-align: center;
  font-family: 'Raleway', 'open-sans';
  font-style: normal;
  font-size: 30px;
}
.project_pic {
  background-size: auto 200%;
  background-position-x: center;
  background-position-y: center;
  overflow: hidden;
  border-radius: 10px;
  border-width: 3px;
  border-color: #eee;
  border-style: solid;
  height: 20em;
  transition: all 0.2s ease, background-position 0ms;
  background-size: auto 200%;
  opacity: 0.8;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.project_pic:hover {
  background-size: auto 205%;
  opacity: 1;
  filter: blur(0px);
  -webkit-filter: blur(0px);
}
.project_title {
  position: absolute;
  left: 1em;
  top: 50%;
  bottom: 50%;
  font-family: 'Jura';
  font-size: 4rem;
  line-height: 0;
  text-decoration: none;
  color: #eee;
  text-shadow: 4px 4px 12px #000;
}
ul {
  margin: 0;
  padding: 0;
  width: unset;
  text-align: center;
}
ul li {
  list-style-type: none;
  display: inline-block;
  color: #eee;
}
ul a {
  text-decoration: none;
  color: #eee;
}
.bi.bi-envelope-fill {
  width: 3em;
  height: 3em;
  fill: #eee;
  background-color: #77a9c6;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0.15em;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  -webkit-transition: fill 0.5s, background-color 0.5;
  -webkit-transition-delay: 0, 0.5;
  transition: fill 0.5s, background-color 0.5s;
  transition-delay: 0, 0.5s;
}
.bi.bi-envelope-fill:hover {
  fill: #77a9c6;
  background-color: #eee;
}
.bi.bi-linkedin {
  width: 3em;
  height: 3em;
  fill: #eee;
  background-color: #77a9c6;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0.15em;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  -webkit-transition: fill 0.5s, background-color 0.5;
  -webkit-transition-delay: 0, 0.5;
  transition: fill 0.5s, background-color 0.5s;
  transition-delay: 0, 0.5s;
}
.bi.bi-linkedin:hover {
  fill: #77a9c6;
  background-color: #eee;
}
.bi.bi-github {
  width: 3em;
  height: 3em;
  fill: #eee;
  background-color: #77a9c6;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0.15em;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  -webkit-transition: fill 0.5s, background-color 0.5;
  -webkit-transition-delay: 0, 0.5;
  transition: fill 0.5s, background-color 0.5s;
  transition-delay: 0, 0.5s;
}
.bi.bi-github:hover {
  fill: #77a9c6;
  background-color: #eee;
}
.bi.bi-file-earmark {
  width: 3em;
  height: 3em;
  fill: #eee;
  background-color: #77a9c6;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0.15em;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  -webkit-transition: fill 0.5s, background-color 0.5;
  -webkit-transition-delay: 0, 0.5;
  transition: fill 0.5s, background-color 0.5s;
  transition-delay: 0, 0.5s;
}
.bi.bi-file-earmark:hover {
  fill: #77a9c6;
  background-color: #eee;
}
.bi.bi-calendly {
  width: 3em;
  height: 3em;
  fill: #eee;
  background-color: #77a9c6;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0.15em;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  -webkit-transition: fill 0.5s, background-color 0.5;
  -webkit-transition-delay: 0, 0.5;
  transition: fill 0.5s, background-color 0.5s;
  transition-delay: 0, 0.5s;
}
.bi.bi-calendly:hover {
  fill: #77a9c6;
  background-color: #eee;
}
@media (min-width: 1041px) {
  .title {
    font-size: 91px;
  }
  .title#contacttitle {
    font-size: 68px;
  }
  .titleline#smtitleline {
    top: 1.8em;
  }
}
@media (max-width: 1200px) {
  .title {
    font-size: 76px;
  }
  .title#contacttitle {
    font-size: 56px;
  }
  .titleline {
    top: 2em;
  }
  .titleline#smtitleline {
    top: 1.4em;
  }
}
@media (max-width: 992px) {
  .title {
    font-size: 55.5px;
  }
  .title#contacttitle {
    font-size: 40.5px;
  }
  .titleline {
    top: 1.4em;
  }
  .titleline#smtitleline {
    top: 0.9em;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 44px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .title#contacttitle {
    font-size: 33px;
  }
  .titleline {
    top: 0.9em;
  }
  .titleline#smtitleline {
    top: 10.5px;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 40.5px;
  }
  .title#contacttitle {
    font-size: 32px;
  }
  .titleline#smtitleline {
    top: 0.6em;
  }
  .paragraphs {
    font-size: 13pt;
  }
}
