html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #eee;
  background-color: #000;
  font-size: 14pt;
  font-family: segoe ui, Montserrat, open sans;
  font-size: 3vh;
}
@media (max-aspect-ratio: 7 / 5) {
  html,
  body {
    font-size: 2.7vh;
  }
}
a {
  color: #fff;
  text-decoration: none;
}
p {
  margin: 0.5em 0 0;
}
::-moz-selection {
  background: #fff;
  color: #000;
  text-shadow: none;
}
::selection {
  background: #fff;
  color: #000;
  text-shadow: none;
}
.fa.fa-envelope {
  content: 'email';
}
.fa.fa-github {
  content: 'github';
}
.fa.fa-linkedin {
  content: 'linkedin';
}

div#splash-wrap,
canvas#splash {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
canvas#splash {
  opacity: 0;
  -webkit-transition: opacity 5s;
  transition: opacity 5s;
}
aside#simulation-info {
  display: none;
  position: fixed;
  font-size: 0.6em;
  z-index: 200;
  right: 0;
  bottom: -3.4em;
  -webkit-transition: bottom 0.8s;
  transition: bottom 0.8s;
  padding: 2em 2em 3em 1em;
  text-align: right;
  color: #eee;
}
aside#simulation-info:hover,
aside#simulation-info:focus,
aside#simulation-info:active {
  bottom: -1em;
  cursor: pointer;
}
aside#simulation-info:hover *,
aside#simulation-info:hover #simulation-name,
aside#simulation-info:focus *,
aside#simulation-info:focus #simulation-name,
aside#simulation-info:active *,
aside#simulation-info:active #simulation-name {
  opacity: 1;
}
aside#simulation-info * {
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  opacity: 0;
}
aside#simulation-info #simulation-name {
  margin-bottom: 0.5em;
  font-size: 1.3em;
  opacity: 0.5;
}
aside#simulation-info #simulation-note div {
  margin-top: 0.4em;
}
#title,
#tagline,
#cta {
  position: relative;
  z-index: 1000;
  margin: 1em auto;
  max-width: 60%;
  text-shadow: 0 0 0.3em #000;
}
@media (max-height: 500px) {
  #title,
  #tagline,
  #cta {
    font-size: 4vh;
    max-width: 90%;
    margin: 0.5em auto;
  }
}
@media (max-aspect-ratio: 7 / 5) {
  #title,
  #tagline,
  #cta {
    max-width: 95%;
  }
}
#title {
  padding-top: 7em;
  padding-left: 2.2em;
  margin-top: 0;
}
@media (max-height: 500px) {
  #title {
    padding-top: 5em;
  }
}
@media (max-aspect-ratio: 7 / 5) {
  #title {
    padding-top: 6em;
    padding-left: 0;
  }
}
#title > * {
  display: inline-block;
  vertical-align: middle;
}
@media (max-aspect-ratio: 7 / 5) {
  #title > * {
    display: block;
  }
}
#title #logo img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 6em;
  width: 6em;
  opacity: 0.7;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#title #logo img:hover {
  opacity: 1;
}
#title h1 {
  font-size: 3em;
  margin: -0.2em 0.5em 0;
}
@media (max-aspect-ratio: 7 / 5) {
  #title h1 {
    font-size: 2.5em;
    margin: 0 0 0.2em;
  }
}
#title ul {
  margin: 0 auto;
  padding: 0;
  width: 8em;
  text-align: center;
}
#title ul li {
  list-style-type: none;
  display: inline-block;
}
#title ul a {
  display: block;
  font-size: 1.5em;
  height: 1.3em;
  width: 1.3em;
  line-height: 1.3em;
  border-radius: 0.2em;
  margin: 0.2em;
  -webkit-transition: color 0.5s, background-color 0.5s, text-shadow 0.5s;
  transition: color 0.5s, background-color 0.5s, text-shadow 0.5s;
}
#title ul a .fa span {
  display: inline-block;
  overflow: hidden;
  height: 1px;
  width: 1px;
  opacity: 0.01;
}
#title ul a .fa.fa-envelope,
#title ul a .fa.fa-file,
#title ul a .fa.fa-key {
  font-size: 0.9em;
  vertical-align: 0.1em;
}
#title ul a:hover {
  background-color: #fff;
  color: #000;
  text-shadow: none;
}
#tagline span {
  display: inline-block;
}
#tagline > span {
  display: block;
  margin: 0.4em;
}
#tagline a {
  text-decoration: underline;
}
#cta {
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 1em auto 4em;
  display: inline-block;
}
#cta a {
  display: inline-block;
  margin: 0.5em;
  font-weight: 700;
  padding: 0.2em 0.8em;
  border: solid 0.05em #fff;
  border-radius: 0.2em;
  -webkit-transition: background-color 0.5s, color 0.5s, text-shadow 0.5s;
  transition: background-color 0.5s, color 0.5s, text-shadow 0.5s;
  background-color: transparent;
  color: #fff;
}
#cta a:hover {
  background-color: #fff;
  color: #000;
  text-shadow: none;
}
